html {
  font-family: "Noto Sans Japanese", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

.link {
  border-bottom: 3px solid #8bc9d9;
  color: #005e76;
}

ul {
  margin: 0;
}

.embed-16by9 {
  padding-top: 21%;
}

@media only screen and (min-width: 38em) {

  .nav {
    text-align: right;
  }

}

hr {
  border-color: #e2e2e2;
}
